h1 {
    margin: auto;
}

.paper {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 26px auto 0;
    padding: 24px;
    position: relative;
    width: 990px;
}
.paper:before,
.paper:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.paper:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
}
.paper:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
}

@media screen and (max-width: 990px) {
    .paper {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .paper {
        width: 100%;
    }
}
